@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Тренажёр, поиск нот тональности на грифе</h1>
</div>

<form>
    <h2>Интрумент</h2>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="instrument" id="instrument1" value="eadg_20" checked>
            <label class="form-check-label" for="instrument1">
                Бас, 4 струны eadg, 20 ладов
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="instrument" id="instrument2" value="eadgbe_24">
            <label class="form-check-label" for="instrument2">
                Гитара, 6 струн eadgbe, 24 ладов
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="instrument" id="instrument3" value="eadgbe_22">
            <label class="form-check-label" for="instrument3">
                Гитара, 6 струн eadgbe, 22 лада
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="instrument" id="instrument4" value="eadgbe_20">
            <label class="form-check-label" for="instrument4">
                Гитара, 6 струн eadgbe, 20 ладов
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="instrument" id="instrument5" value="gcea_18">
            <label class="form-check-label" for="instrument5">
                Укулеле тенор, 4 струны gcea, 18 ладов
            </label>
        </div>
    </div>

    <h2>Тональность</h2>
    <div class="form-group col-2">
        <select class="form-control" name="key">
            <option disabled>мажор</option>
            <option>C</option>
            <option>C#</option>
            <option>D</option>
            <option>D#</option>
            <option>E</option>
            <option>F</option>
            <option>F#</option>
            <option>G</option>
            <option>G#</option>
            <option>A</option>
            <option>A#</option>
            <option>B</option>
            <option disabled>минор</option>
            <option>Cm</option>
            <option>C#m</option>
            <option>Dm</option>
            <option>D#m</option>
            <option>Em</option>
            <option>Fm</option>
            <option selected>F#m</option>
            <option>Gm</option>
            <option>G#m</option>
            <option>Am</option>
            <option>A#m</option>
            <option>Bm</option>
        </select>
    </div>

    <h2>Ступени</h2>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="steps" id="step1" value="1" checked>
            <label class="form-check-label" for="step1">тоника</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="steps" id="step5" value="5" checked>
            <label class="form-check-label" for="step5">доминанта</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="steps" id="step4" value="4" checked>
            <label class="form-check-label" for="step4">субдоминанта</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="steps" id="step3" value="3" checked>
            <label class="form-check-label" for="step3">медианта</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="steps" id="step6" value="6" checked>
            <label class="form-check-label" for="step6">субмедианта</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="steps" id="step2" value="2">
            <label class="form-check-label" for="step2">вводный-2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="steps" id="step7" value="7">
            <label class="form-check-label" for="step7">вводный-7</label>
        </div>
    </div>

    <h2>Скорость</h2>
    <div class="form-group row">
        <div class="col-sm-2">
            <input type="text" class="form-control" id="tempo" value="20">
        </div>
        <label for="tempo" class="col-sm-10 col-form-label">нот в минуту</label>
    </div>

    <button type="button" class="btn btn-primary btn-lg btn-block" id="startBtn">Начали!</button>
</form>

@section Scripts{
    <script>var running = false;
        var $btn = $('#startBtn');
        var $instr = $("input[name='instrument']")
        var $key = $("select[name='key']")
        var $steps = $("input[name='steps']")
        var $tempo = $('#tempo');
        var timer = null;

        $(document).on('click', '#startBtn', function () {
            running = !running
            if (running) {
                $btn.text('стоп');
                $btn.addClass('btn-secondary');
                $btn.removeClass('btn-primary');

                var instrParts = $instr.filter(':checked').val().split('_');

                var strings = instrParts[0].split('').reverse();
                var frets = parseInt(instrParts[1]);
                var key = $key.val();
                var tonic = key.toLowerCase();
                var isMinor = false;
                if (tonic.endsWith('m')) {
                    isMinor = true;
                    tonic = tonic.substr(0, tonic.length - 1);
                }
                var steps = [];
                $steps.filter(':checked').each(function (a, b) { steps.push(parseInt(b.value)); });
                var tempo = parseInt($tempo.val());

                console.log(strings, frets, key, tonic, isMinor, steps, tempo);
                    
                var positions = [];
                strings.forEach(function (s, i) {
                    offset = 0;
                    for (var note = tonic; note != s; note = nextNote(note)) {
                        offset++;
                    }
                    note = s;
                    console.log(note, offset);
                    for (var fret = 0; fret <= frets; fret++) {
                        var step = calcStep(offset, isMinor);

                        if (step != null && steps.includes(step)) {
                            positions.push({
                                stringNumber: i + 1,
                                stringNote: s,
                                fret: fret,
                                note: note,
                                tonicOffset: offset,
                                step: step
                            });
                        }

                        note = nextNote(note);
                        offset++;
                        if (offset >= 12) {
                            offset -= 12;
                        }
                    }
                });

                console.log(positions);

                timer = setInterval(function () {
                    console.log('triggered');
                }, 60 * 1000 / tempo);
            } else {
                clearInterval(timer);
                $btn.text('Начали!');
                $btn.addClass('btn-primary');
                $btn.removeClass('btn-secondary');
            }
        });

        function nextNote(note) {
            switch (note) {
                case 'a':
                    return 'a#';
                case 'a#':
                    return 'b';
                case 'b':
                    return 'c';
                case 'c':
                    return 'c#';
                case 'c#':
                    return 'd';
                case 'd':
                    return 'd#';
                case 'd#':
                    return 'e';
                case 'e':
                    return 'f';
                case 'f':
                    return 'f#';
                case 'f#':
                    return 'g';
                case 'g':
                    return 'g#';
                case 'g#':
                    return 'a';
                default:
                    return null;
            }
        }

        function calcStep(offset, isMinor) {
            if (isMinor) {
                switch (offset) {
                    case 0:
                        return 1;
                    case 2:
                        return 2;
                    case 3:
                        return 3;
                    case 5:
                        return 4;
                    case 7:
                        return 5;
                    case 8:
                        return 6;
                    case 10:
                        return 7;
                    default:
                        return null;
                }
            } else {
                switch (offset) {
                    case 0:
                        return 1;
                    case 2:
                        return 2;
                    case 4:
                        return 3;
                    case 5:
                        return 4;
                    case 7:
                        return 5;
                    case 9:
                        return 6;
                    case 11:
                        return 7;
                    default:
                        return null;
                }

            }
        }</script>
}
